 <!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
   	  <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   	  <title th:utext="${title}"></title>
   	<style>
   		.box{
   			border:1px solid grey;
   			background-color:#d3d3d3;
   		 }
   		 .center{
   		    text-align:center-text;
   		 }
   	</style>
   </head>
   
   <body>
   <!-- 
 	<div class="container">
   		<div class="row">
	   		<div class="col-md-4 box">   	<button class="btn btn-success" data-toggle="modal" data-target="#loginModal">
   	   	Login
   	   	</button></div>
	   		<div class="col-md-4 box">   	<button class="btn btn-success" data-toggle="modal" data-target="#loginModal">
   	   	Login
   	   	</button></div>
			<div class="col-md-4 box">   	<button class="btn btn-success" data-toggle="modal" data-target="#loginModal">
   	   	Login
   	   	</button></div>
	   	</div>
   	</div> -->
<div class="footer">
        <div class="container-fluid">
            <div class="row bg-dark">
            	<div class="col-lg-8 offset-lg-2" style="color:white;"> 
            		Developed by Art Rosario. Copyright ©2019. All rights reserved. Powered by  <a href="www.betterdoctor.com"> ©BetterDoctor API</a>
                </div>
            </div>
        </div> 
</div>
</body>
</html>