<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
   	  <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <script type="text/javascript" th:src="@{/static/js/test.js}"></script>
   	  <title th:utext="${title}"></title>
   	<style>
   		.navbar-brand{
   			font-size:1.5em;
   		}
   		.box{
   			border:1px solid grey;
   			background-color:#d3d3d3;
   		 }
   		 .table-wrapper-scroll-y {
			display: block;
			height:100%;
			overflow-y: auto;
			-ms-overflow-style: -ms-autohiding-scrollbar;
			overflow:auto;
		}
   		#user-container{
   			margin-top:50px;
   			border:1px solid grey;
   			height:500px;
   			background-color:#d4d4d4;
   		}
			
   	</style>
   	<script>

	</script>
   </head>
<body>
     
 <!-- 
   		NavBar
    -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  	<div class="container">
	   		 <a class="navbar-brand" href="/">DoctorFinder</a>
			 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLinks">
	      		<span class="navbar-toggler-icon"></span>
	    	  </button>
	    	<div class="collapse navbar-collapse" id="navbarLinks">
	  		<ul class="nav navbar-nav">
	  			<li class="nav-item"><a class="nav-link" href="/">Home</a></li>	
	  			<li class="nav-item"><a class="nav-link" href="/about">About</a></li>	
	  			<li class="nav-item"><a class="nav-link active" href="/profile">Profile</a></li>		
	  			<li class="nav-item"><a class="nav-link" href="/account">Account</a></li>	
	  		</ul>
	  		
			<div class="row ml-auto" th:switch="${#request.userPrincipal}">
				<form name='f'  th:case="null" th:action="@{/j_spring_security_check}" method='POST' class="form-inline ml-auto">
	  			<div class="form-group mr-sm-1">
	  				<input type="email" name= 'username' placeholder="Email" class="form-control">
	  			</div>
	  			<div class="form-group mr-sm-1">
	  				<input type="password" name='password' placeholder="Password" class="form-control">
	  				<!-- TODO: make "remember me" fit underneath password
	  				<div>
	  				  <label for="remember-me">Remember Me?</label>
		               <input type="checkbox" name="remember-me" id="remember-me"/>
		               </div>
		               -->
	  			</div>
  				<button class="btn btn-success mr-sm-1" type="submit" >Login</button>
  				<a class="btn btn-primary" href="/signup" role="button">Sign Up</a>	 
	  			</form>
	  			<div class="ml-auto" th:case="*">
	  				<a class="btn btn-danger" th:href="@{/logout}" role="button">Log out</a>
	  			</div>
	  		</div>
		</div>
	  </div>
   </nav>
   
   <!-- Profile Details-->	 
   
   <div class="container">
   		<div class="row">
   			
  		<div class="col-4" id="user-container">
  		      <div class="container-fluid">
  				<div class="row">
  					<div class="container box">
  						<h2>Scheduled Appointments </h2>
  					</div>
  				</div>
  			</div>
  		</div>
  		
  		<div class="col-8" id="user-container">
  		<div class="container box">
  			
  				<table class="table">
 				 	<thead>
					    <tr>
					      <th scope="col">My Favorite Doctors</th>
					    </tr>
  					</thead>
  					<tbody>
  						<tr class="clickable-row" th:each="doctor : ${favorites}">
								<td th:text="${doctor.uid} "></td>	
						</tr>
  					</tbody>
			 	</table>
  			</div>
		  </div>
        </div>
    </div>
 	

   <th:block th:include="/fragments/_footer"></th:block>


    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhrMRrN4jHkqRcpn0PA3FWMhwxttAc4eE&callback=initMap"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>	   	
</body>
</html>